.marguv{
	padding-top: 20px;
	padding-left: 20px;
}
.bildh{
	float: right;
	padding-top: 20px;
	padding-right: 10px;
}
.bildh2{
	float: right;
}
.helvetica{
	font-family: helvetica;
	font-size: 17px;
}
.footer{
	margin-top: 10px;
	background-color: lightgray;
}
.bildv{
	float:left;
	padding-top: 6px;
}
.textfooter{
	padding-left: 10px;
}
body{
	background-image: url(../img/himmel.png);
}
.aktiv{
	font-weight: bold;
}
.menyt{
	font-size: 20px;
}
.centr{
	display: flex;
	align-items: center;
	justify-content: center;
}
.gallmarg{
	margin: 5px;
}

.text-familj{
	text-align: justify;
	width: 340px;
}

.text-familj img{
	display: block;
	margin: 0 auto;
}
figure{
	display: inline-block;
}
.tabellvitfet {	
	font-family: Helvetica;
	font-size: 11px;
	font-style: normal;
	line-height: 14px;
	color: #FFFFFF;
	font-weight: bold;
}
.tabellvit{	
	font-family: Helvetica;
	font-size: 11px;
	font-style: normal;
	line-height: 14px;
	color: #FFFFFF;
}
.tabellredfet{
	font-family: Helvetica;
	font-size: 11px;
	font-style: normal;
	line-height: 14px;
	color: #FFFFFF;
	font-weight: bold;
	color: red;
}
.pmarg{
	margin:0px;
}