.marguv{
	padding-top: 20px;
	padding-left: 20px;
}
.bildh{
	float: right;
	padding-top: 20px;
	padding-right: 10px;
}
.bildh2{
	float: right;
}
.helvetica{
	font-family: helvetica;
	font-size: 17px;
}
.footer{
	margin-top: 10px;
	background-color: lightgray;
}
.bildv{
	float:left;
	padding-top: 6px;
}
.textfooter{
	padding-left: 10px;
}
body{
	background-image: url(../img/himmel.png);
}
.aktiv{
	font-weight: bold;
}
.menyt{
	font-size: 20px;
}
.centr{
	display: flex;
	align-items: center;
	justify-content: center;
}
.gallmarg{
	margin: 5px;
}